.square{
    width: 6%;
    padding: 3%;
    text-align: center;
    color: wheat;
}
.square:hover{
    border: 3px solid darkblue;
}

.r1, .r2, .r3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    padding: 5%;
}

.c1, .c2,.bc1,.bc2{
    border-right: 2px solid salmon;
}

.c1,.c2,.c3{
    border-bottom: 2px solid salmon;
}
.hr{
    position: absolute;
    width: 15%;
}
.p{
    position: absolute;
    height: 15%; 
    border: 2px solid white;
}
.pv{
    position: absolute;
    width: 15%;
    border: 2px solid white;
    /* top: 2%; */
}

/* .c2{
    border-right: 1px solid salmon;
} */
